.dashboard{
    display: flex;
    height: 100%;
}

body{
    height: 100%;
}

button {
    outline: none;
    border: none;
    padding: 5px;
}
.main{
    height: 100%;

}

.criteria {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.sort-criteria {
    margin-left: 40px;
}

.dashboardhalf{
    overflow-y: scroll;
    width: 50%;
    height: 100%;
}